@model SportRecordDto
@{
   var x = @Html.EasyUi();
}
<div class="divForm">
    <form id="form" class="form" action="/Systems/SportRecord/Save">
        <dl>
            <dt>@(InfraUtils.GetDisplayName<SportRecordDto>(i => i.SportName))</dt>
            <dd>
                @x.Combox(t => t.SportName).Load("/systems/SportKind/QueryAll", "Id", "Name")
            </dd>
        </dl>
        <dl>
            <dt>@(InfraUtils.GetDisplayName<SportRecordDto>(i => i.ActivityTime))</dt>
            <dd>
                @x.TextBox(t => t.ActivityTime)
            </dd>
        </dl>
        <dl>
            <dt>@(InfraUtils.GetDisplayName<SportRecordDto>(i => i.Numbers))</dt>
            <dd>
                @x.TextBox(t => t.Numbers)
            </dd>
        </dl>
        <dl>
            <dt>@(InfraUtils.GetDisplayName<SportRecordDto>(i => i.Remark))</dt>
            <dd>
                @x.TextBox(t => t.Remark)
                @Html.ValidationMessageFor(t=>t.Remark)
            </dd>
        </dl>
    </form>

</div>
<div id="dialogButtons">
    @x.LinkButton(EasyUiEvent.SaveOperation).Icon(EasyUiEvent.OKIcon).Width(90).Click(EasyUiEvent.AddEvent)
    @x.DialogButton(EasyUiEvent.CloseOperation).Icon(EasyUiEvent.CancelIcon).Width(90).CloseDialog()
</div>
