@model ApplicationQuery
@{
    var x = @Html.EasyUi();
}
<div id="divQuery" class="divQueryForm">
    <form id="formQuery" class="form" action="/Systems/Application/Query">
        <dl>
            <dt>@Html.LabelFor( t => t.Code )</dt>
            <dd>
                @x.TextBox( t => t.Code )
            </dd>
        </dl>
        <dl>
            <dt>@Html.LabelFor( t => t.Name )</dt>
            <dd>
                @x.TextBox( t => t.Name )
            </dd>
        </dl>
        <dl style="width: 120px">
            <dt style="width: 30px">@Html.LabelFor( t => t.Enabled )</dt>
            <dd style="width: 60px">
                @x.Combox( t => t.Enabled ).AddDefault( "" )
            </dd>
        </dl>
        <dl>
            <dt>@Html.LabelFor( t => t.BeginCreateTime )</dt>
            <dd>
                @x.TextBox( t => t.BeginCreateTime )
            </dd>
        </dl>
        <dl>
            <dt>@Html.LabelFor( t => t.EndCreateTime )</dt>
            <dd>
                @x.TextBox( t => t.EndCreateTime )
            </dd>
        </dl>
        <span class="button">
            @x.LinkButton( "查 询" ).Width( 70 ).Icon( "icon-search" ).Click( "$.easyui.query()" )
        </span>
    </form>
</div>