@model ApplicationDto
@{
    var x = @Html.EasyUi();
}
@section head {
    <script type="text/javascript">
        $(function () {
            $.easyui.deleteUrl = "/systems/application/delete";
        });
    </script>
}
@section top {
    @*工具栏*@
    <div class="toolbar">
        @x.DialogButton("添加应用程序", "/systems/application/add").Icon("icon-add").Plain().DialogSize(420, 260)
        @x.DialogButton("编辑应用程序", "/Systems/Application/Edit").Id("btnEdit").OnInit("$.easyui.fnInitEdit").Icon("icon-edit").Plain().DialogSize(420, 260)
        @x.LinkButton("删除应用程序").Icon("icon-delete").Plain().Click("$.easyui.delete()")
        @x.DialogButton("查看详细", "/systems/application/look").Id("btnLook").OnInit("$.easyui.fnInitLook").Icon("icon-look").Plain().DialogSize(500, 240)
        @x.LinkButton("刷 新").Icon("icon-refresh").Plain().Click("$.easyui.refresh()")
    </div>
}
@section content {
    @*查询表单*@
    @Html.Partial("Parts/QueryForm")
    @*表格*@
    @(x.Grid("grid").Sort("CreateTime", false).Toolbar("divQuery").Url("/Systems/Application/Query")
        .OnDblClickRow("$.easyui.showEditDialog").OnRowContextMenu("$.easyui.fnRightClickGridRow")
        .Columns(
            x.GridColumn("Id").CheckBox(),
            x.GridColumn("Code", "应用程序编码", 100),
            x.GridColumn("Name", "应用程序名称", 200),
            x.GridColumn("Enabled", "启用").FormatBool(),
            x.GridColumn("CreateTime", "创建时间", 150).Sort().FormatDate(),
            x.GridColumn("Note", "备注", 650)
        )
    )
    @*表格右键菜单*@
    @x.Menu("menuGrid").Click("$.easyui.fnClickGridMenu").Duration(600).Items(
        x.MenuItem("menuItem_Edit", "编 辑", "icon-edit"),
        x.MenuItem("menuItem_Delete", "删 除", "icon-delete"),
        x.MenuItem("menuItem_Look", "查看详细", "icon-look")
    )
}